# general ignores
[Bb]uild/

# CMake specific ignores
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug

# doc ignores
doc/build
!doc/Makefile
!src/Makefile

# IDEA specific ignores
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Visual Studio specific ignores
.vs/

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
*.pyc
cmake-build-release/
