Josef Kolář <xkolar71@stud.fit.vutbr.cz> Josef Kolář <thejoeejoee@gmail.com>
Martin Kobelka <xkobel02@stud.fit.vutbr.cz> Martin Kobelka <martinkobelka@gmail.com>
Tomáš Pazdiora <xpazdi02@stud.fit.vutbr.cz> Martin Omacht <enkeymc@gmail.com>
Son Hai Nguyen <xnguye16@stud.fit.vutbr.cz> Son Hai Nguyen <sirarseus@gmail.com>
Son Hai Nguyen <xnguye16@stud.fit.vutbr.cz> Sony Nguyen <SonHai.Nguyen@ceskatelevize.cz>
Tomáš Pazdiora <xpazdi02@stud.fit.vutbr.cz> Tomáš Pazdiora <tomas.pazdiora@gmail.com>
